.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
}

.navbar-nav>li {
    display: inline-block;
    margin: 0 6px;
}

.navbar-nav>li>a.btn {
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 6px;
    padding-right: 6px;
    vertical-align: middle;
}

.navbar {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar .navbar-brand {
    margin-bottom: 0.5rem;
}

.navbar .navbar-collapse {
    width: 100%;
}

.navbar-divider {
    width: 100%;
    height: 1px;
    background-color: #cccccc;
    margin: 8px 0;
    display: block;
}